# deps
/node_modules
/.pnp
.pnp.js

# next.js
/.next/
/out/

# env
.env
.env*.local

# build / cache
/build
*.tsbuildinfo
next-env.d.ts

# editor / OS
.DS_Store
*.pem
Thumbs.db

# vercel
.vercel

# pdf render-test artifacts
/test-output
